<p>Ask your coach anything</p>
<form action="answer">
  <input id="input_question" class="input-box" type="text" name="question">
  <input id="btn_question" class="btn btn-blue" type="submit" value="Ask">
</form>